{% extends "ns_web/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>New entry</h2>
{% endblock page_header %}

{% block content %}

    <h5><a href="{% url 'ns_web:topic' topic.id %}">{{ topic }}</a></h5>

    <form method="post" action="{% url 'ns_web:new_entry' topic.id %}" class='form'>
        {% csrf_token %}
        {{ form.as_p }}
        {% buttons %}
        <button name='submit' class="btn btn-primary">Add entry</button>
        {% endbuttons %}
    </form>

{% endblock content %}
